{% block alerts %}
<div id="alertContainer">
    <div class="alert alert-danger alert-dismissible fade" role="alert" hidden>
        <strong><span class="alert-msg"></span></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-success alert-dismissible fade" role="alert" hidden>
        <strong><span class="alert-msg"></span></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-warning alert-dismissible fade" role="alert" hidden>
        <strong><span class="alert-msg"></span></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endblock %}