{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inoa Stocks</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/kaiadmin.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">


    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta name="theme-color" content="#7952b3">
</head>
<body class="vh-100 horizontal-gradient">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="card shadow-sm" style="width: 20rem;">
            <div class="card-body">
                <div class="text-center">
                    <img src="{% static 'img/logo_default.png' %}" class="img-fluid" width="150rem">
                </div>
                <form method="POST" action="{% url 'dashboard:login' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário</label>
                        <input type="text" class="form-control" name="username" placeholder="Seu nome de usuário" required>
                        <div class="invalid-feedback">
                            Por favor, insira um nome de usuário.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password" placeholder="Sua senha" required>
                        <div class="invalid-feedback">
                            Por favor, insira uma senha.
                        </div>
                        {% if error is not None %}
                        <small class="text-danger" >{{ error }}</small>
                    {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>